
<div id="container">
	<div id="pokemon_1">
		<img class="pokemon" src="https://cdn.bulbagarden.net/upload/thumb/6/67/250Ho-Oh.png/250px-250Ho-Oh.png">
		<img class ="pokeball" src="http://static.pokemonpets.com/images/monsters-images-300-300/7-Squirtle.png">
	</div>
	<div id="button_holder">
		<h1>BATTLE ROYALE</h1>
		<div id="inner_buttons">
			<button (click)="poke_pic()" id="button1" type="button" class="btn btn-outline-danger">TO BATTLE</button>
			<button [routerLink]="['stats']" id="button2" type="button" class="btn btn-outline-primary">Champions Corner</button>
		</div>
	</div>

	<div id="pokemon_2">
		<img class="pokemon" src="https://cdn.bulbagarden.net/upload/thumb/4/44/249Lugia.png/250px-249Lugia.png">
		<img class="pokeball" src="https://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/250px-004Charmander.png">
	</div>
	<div id="tablet">
		<div id="pokemon_3">
			<img class ="pokeball" src="https://cdn.bulbagarden.net/upload/thumb/9/9b/155Cyndaquil.png/250px-155Cyndaquil.png">
		</div>
		<div id="pokemon_4">
			<img class ="pokeball" src="https://cdn.bulbagarden.net/upload/thumb/d/df/158Totodile.png/250px-158Totodile.png">
		</div>
	</div>
</div>



