#button1 {
	font-size: 60px;
	width: 50%;
	height: 300px;
	background: red;
	margin-left: 24%;
	border-radius: 8px;
}

#button2 {
	font-size: 60px;
	width: 50%;
	height: 150px;
	background: steelblue;
	margin-left: 24%;
	border-radius: 8px;
}


#dialog {
	border: 2px solid black;
	width: 200px;
	height: 100px;
	background-color: steelblue;
}

#dialog p {
	text-align: center;
	color: white;
	font-size: 30px;
}


