#player_1 {
	/*border: solid black 2px;*/
	height: 20%;

}

img {
	/*border: solid black 2px;*/
	width: 20%;
	height: 150%;
	vertical-align: bottom;
	display: inline-block;
	margin-left: 75%;
}

#content {
	margin: 1%;
	border: 2px solid black;
	display: block;
	background: white;
	width: 50%;
	opacity: 0.8;
}

ul {
	list-style: none;
}

#buttons_1 {
	/*border: 2px solid black;*/
	width: 60%;
	margin: 1%;

}

button {
	width: 40%;
	height: 50px;
}

#health {
	margin-right: 50px;
	float: right;
}

li {
	display: inline-block;
	width: 10%;
}

#win_title {
	border: 2px solid black;
	background: white;
	width: 25%;
	height: 100px;
}

#dialog {
	border: 2px solid black;
	width: 200px;
	height: 100px;
	background-color: steelblue;
}

#dialog p {
	text-align: center;
	color: white;
	font-size: 30px;
}

#opener {
	visibility: hidden;
}

#home_button {
	margin-left: 30%;
	margin-bottom: 5px;
	border-radius: 8px;
}


