
<div *ngIf= "render1" id="player_1">
	<div id="content">
			<p>{{ name.name.toUpperCase() }}</p>
			<p id="health">HP {{ _healthService.player_1_health  }}</p>
		<div id="buttons_1">
			<button (click)="player1_make_move1()">{{ poke1.data.moves[ rand_moves[0] ].move.name }}</button>
			<button (click)="player1_make_move2()">{{ poke1.data.moves[ rand_moves[1] ].move.name }}</button>
			<button (click)="player1_make_move3()">{{ poke1.data.moves[ rand_moves[2] ].move.name }}</button>
			<button (click)="player1_make_move4()">{{ poke1.data.moves[ rand_moves[3] ].move.name }}</button>
		</div>
	</div>
	<img src= "{{ poke1.data.sprites.front_default }}">
</div>

<div id="dialog">
  	<p> {{ name.name.toUpperCase() }} wins!</p>
  	<button [routerLink]="['']" id="home_button">Rematch!</button>
</div>

<button id="opener"></button>

<!-- 
<div id="player_1">
	<div id="content">
		<p>COCOBALLS</p>
		<p id="health">HP 500</p>
		<div id="buttons_1">
			<button (click)="player1_make_move1()">Earthquake</button>
			<button (click)="player1_make_move2()">Sesmic Toss</button>
			<button (click)="player1_make_move3()">Flamethrower</button>
			<button (click)="player1_make_move4()">Blizzard</button>
		</div>
	</div>
	<img src= "https://cdn.bulbagarden.net/upload/thumb/7/7e/006Charizard.png/250px-006Charizard.png">
</div> -->
<!-- 
<div id="dialog">
  	<p> {{ name.name.toUpperCase() }} wins!</p>
  	<button [routerLink]="['']" id="home_button">Rematch!</button>
</div>

<button id="opener"></button> -->