
<div *ngIf= "render1" id="player_1">
	<div id="content">
		<ul>
			<li>{{ name.name.toUpperCase() }}</li>
			<li id="health">HP {{ _healthService.player_1_health  }}</li>
		</ul>
		<div id="buttons_1">
			<button (click)="player1_make_move1()">{{ poke1.data.moves[ rand_moves[0] ].move.name }}</button>
			<button (click)="player1_make_move2()">{{ poke1.data.moves[ rand_moves[1] ].move.name }}</button>
			<button (click)="player1_make_move3()">{{ poke1.data.moves[ rand_moves[2] ].move.name }}</button>
			<button (click)="player1_make_move4()">{{ poke1.data.moves[ rand_moves[3] ].move.name }}</button>
		</div>
	</div>
	<img src= "{{ poke1.data.sprites.front_default }}">
</div>

<div id="dialog">
  	<p> {{ name.name.toUpperCase() }} wins!</p>
  	<button [routerLink]="['']" id="home_button">Rematch!</button>
</div>

<button id="opener"></button>