<div id="container">
	<button [routerLink] = "['']" id="home">Home</button>
	<button (click)= "remove_champs()" id="remove">Remove Champions</button>
	<h2>Champions Corner</h2>
	<div id="content">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th id="th_id">PokeID</th>
					<th id="th_name">Name</th>
					<th id="th_wins">Wins</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let element of stats">
					<td id="td_id">{{element.poke_id}}</td>
					<td id="td_name">{{element.name.toUpperCase()}}</td>
					<td id="td_wins">{{element.wins}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
