div {
	text-align: center;
}

table {
	/*border: 5px solid red;*/
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
}

th {
	font-size: 40px;
}

td {
	font-size: 20px;
}

#content {
	height: 400px;
	width: 800px;
	border: 5px solid red;
	display: inline-block;
	overflow: scroll;
}

#home {
	margin-bottom: 5px;
	width: 60px;
	height: 30px;
	background-color: steelblue;
	color: white;
	border-radius: 8px;
}

#remove{
	margin-bottom: 10px;
	width: 120px;
	height: 50px;
	background-color: steelblue;
	color: white;
	border-radius: 8px;
	display: block;
	margin-left: 44.8%;
}

/*#th_wins{
	padding-left: 0px;
}

#th_name {
	padding-right: 0px;
}

#td_wins{
	padding-left: 0px;
}

#td_name{
	padding-right: 0px;
}*/
