#player_2 {
	/*border: solid black 2px;*/
	margin-top: 200px;
	height: 275px;
	vertical-align: bottom;
}
img {
	/*border: solid 2px black;*/
	width: 30%;
	height: 120%;
	margin-left: 5%;
}

#content{
	vertical-align: bottom;
	border: 2px solid black;
	width: 50%;
	margin-left: 48.5%;
	margin-bottom: 1%;
	margin-top: -220px;
	display: block;
	background: white;
	opacity: 0.8;
}

ul {
	list-style: none;
}

#buttons_2 {
	/*border: 2px solid black;*/
	width: 50%;
	margin: 1%;
}

button {
	width: 40%;
	height: 50px;
}

#health {
	margin-right: 50px;
	float: right;
}

li {
	display: inline-block;
	width: 10%;
}

#dialog2 {
	border: 2px solid black;
	width: 200px;
	height: 100px;
	background-color: steelblue;
}

#dialog2 p {
	text-align: center;
	color: white;
	font-size: 30px;
}

#opener2 {
	visibility: hidden;
}

#home_button2 {
	margin-left: 30%;
	margin-bottom: 5px;
	border-radius: 8px;
}